*{
    margin: 0;
    padding:0;
}
body{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    background-color: rgb(106, 236, 225) ;
    min-height: 100vh;
    width:100%;
}
.login input{
    padding:2px;
    padding-left:10px;
    border: none;
    border-radius: 1rem;
}
.login input:focus-visible{
    outline: none;
}
h1{
    font-size: 2rem;
    margin: 8%;
    display: inline;
}

.login{
    display: block;

}
.login-card{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    height:10rem;
    width:30rem;
    background-color: rgb(255, 245, 126);
    border-radius: 1rem;

}

.Sign{
    flex-grow: 0.5;
    align-content: center;
    justify-items: center;
}

.place{
    margin-top: 2rem;
}
label{
    
    margin-bottom:1rem ;
}